parameters:
    level: 6
    paths:
        - %currentWorkingDirectory%/src

    reportUnmatchedIgnoredErrors: false
    tipsOfTheDay: false
    bootstrapFiles:
        - ./vendor/autoload.php

    ignoreErrors:
        - '#type specified in iterable type array.#'