parameters:
    level: 9
    paths:
        - src
        - tests
    reportUnmatchedIgnoredErrors: false
    tipsOfTheDay: false
    bootstrapFiles:
        - ./vendor/autoload.php

    ignoreErrors:
        - '#type specified in iterable type array.#'
        -
            message: '# does not accept *.#'
            paths:
                - tests/Acceptance/Model/Request/AbstractRequestModelTest.php