<phpunit>
    <testsuites>
        <testsuite name="acceptance">
            <directory>tests/Acceptance/Model</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>tests/Functional/Service</directory>
        </testsuite>
    </testsuites>

    <!-- will be added to GitHub actions in the future (maybe) -->
    <!--coverage processUncoveredFiles="true">
        <include>
            <directory>src/</directory>
        </include>
        <exclude />
        <report>
            <html outputDirectory="../phpunit-code-coverage/coverage_report_html"/>
            <text outputFile="../phpunit-code-coverage/coverage_report.txt"/>
        </report>
    </coverage-->

    <!--
    <php>
        <env name="BILLIE_CLIENT_ID" value="<< INSERT YOUR CLIENT ID >>" force="true" />
        <env name="BILLIE_CLIENT_SECRET" value="<< INSERT YOUR CLIENT SECRET >>" force="true" />
    </php>
    -->
</phpunit>
