<phpunit>
    <testsuites>
        <testsuite name="billie-sdk">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="BILLIE_CLIENT_ID" value="<< INSERT YOUR CLIENT ID >>" force="true" />
        <env name="BILLIE_CLIENT_SECRET" value="<< INSERT YOUR CLIENT SECRET >>" force="true" />
    </php>
</phpunit>